# Entorno Virtual de Python
.virtual_env/

# Base de Datos (¡Contiene datos médicos sensibles!)
/data/pacientes.db
/data/*.db

# Imágenes subidas (¡Contiene datos médicos sensibles!)
/data/imagenes/

# Archivos de configuración que no deben ser públicos
/config/config.yaml

# Archivos de caché y logs
__pycache__/
/logs/
*.log

# Caché de herramientas de desarrollo
.vscode/
.idea/

/web/script_.js
/web/style_.css
/web/main_.html
